---
layout: default 
title: Preset page
---

<!--  Intro / sales pitch  -->
<section class="grid grid-cols-2 p-8">
  <div> 
  <img src='assets/images/placeholder.jpg'> </img> 
  </div> 

  <div class="p-8"> 
    <h1> Intro / sales pitch </h1> 
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, provident. Libero, sequi natus nobis quaerat omnis nemo autem veniam unde aspernatur est neque facilis, blanditiis commodi deleniti modi eos dolorem?</p> 
  </div> 
</section> 


<!-- Most popular ebooks  -->

<section class="grid grid-cols-3 gap-2 row-span-3 p-8"> 


  {% for item in site.products_presets  limit: 6 %}
  
  <!-- <h1> Most popular Travel Guides </h1>  -->
  
    <div> 
    <img src={{item.featured_image}}> </img> 
    <h3> {{item.title }}</h3> 
    <p> {{item.price}} </p> 
    </div> 
  
    {% endfor %}
  
  </section> 

  <!--  Before and after slider  -->

  <!--  Video banner -->

  <!--  testimonials  -->

  <section class="text-center p-8"> 

    <div> 
      <h1 class="text-4xl mb-4"> love from our clients </h1> 
    {% assign testimonials = site.data.testimonials  | where:'product-type', 'presets'%}
      {% for item in testimonials limit: 1 %}
  
      <p class="text-center max-w-4xl mx-auto mb-4"> {{item.quote}} </p>
      <h3 class="font-extralight"> {{item.name}}</h3> 
  
      {% endfor %}
  
    </div> 
  </section> 

  <!--  faqs  -->
  
  <section class="p-8"> 
    <h1 class="text-center text-4xl"> FAQ's </h1> 
    <div> 
      {% assign faqs = site.data.faqs  | where:'question-type', 'presets'%}
      {% for item in faqs limit: 1 %}
  
      <p class="text-center max-w-4xl mx-auto mb-4"> {{item.question}} </p>
      <p class="text-center max-w-4xl mx-auto font-extralight"> {{item.answer}} </p>
     
  
      {% endfor %}
  
    </div> 
  </section> 