--- 
layout: default
title: Shop page
---

<!--  This is the shop page  -->

<!--  Featured products  -->
<section class="grid grid-cols-2 p-8 bg-light">  

{% assign ebooks = site.products_ebook %}
{% assign featuredEbooks = ebooks | where:'featured', 'true' %}
{% for item in featuredEbooks limit: 1 %}

  <div class="p-2 aspect-portrait bg-cover bg-center">
    <img src="{{item.featured_image}}"> </img>
</div> 

  <div class="p-10">
    <h1 class="text-4xl mb-4"> featured products </h1> 
    <h2 class="mb-4 text-green-900 uppercase"> {{item.title}}</h2> 
    <p class="mb-8">{{ item.description_html}}</p> 
    <a href="{{item.url}}" class="bg-dark text-white px-8 py-3"> Buy now </a> 
  </div> 

{% endfor %}

</section> 

<!--  Most popular ebooks  -->
<section class="grid grid-cols-3 gap-1 p-10 bg-light">

<h1 class="col-span-full text-center text-4xl p-8 text-zinc-800"> most popular travel guides </h1> 

{% for item in featuredEbooks offset: 1 limit:3 %}

  <div class="p-2">
    <img src="{{item.featured_image}}" class="mb-4"> </img>
    <div class="p-4 relative bg-white -top-4"> 
  <h2 class="mt-1 text-3xl text-zinc-800"> {{item.title}} </h2>
  <hr class="border-green-900 w-10 border-t-2 mt-4 mb-2"> 
  <p class="tracking-wide text-zinc-800"> {{item.price}} </p>
    </div>
</div>

{% endfor %}
<a href="#"class="col-span-full text-center uppercase button w-70 mx-auto"> Explore all travel guides </a> 

  </section>

<!--  Most popular presets  -->
<section class="grid grid-cols-3 gap-1 p-10 bg-light">

  <h1 class="col-span-full text-center text-4xl p-8"> most popular presets </h1> 

{% for item in site.products_presets limit:3 %}

  <div class="p-2">
    <img src="{{item.featured_image}}" ></img>
    <div class="p-4 relative bg-white -top-4"> 
  <h2 class="mt-1 text-3xl text-zinc-800"> {{item.title}} </h2>
  <hr class="border-green-900 w-10 border-t-2 mt-4 mb-2"> 
  <p class="tracking-wide text-zinc-800"> {{item.price}} </p>
    </div> 
  
  </div>

  {% endfor %}

  <a href="#" class="col-span-full text-center uppercase button w-70 mx-auto"> Explore all presets </a> 
</section>

<!--  testimonials  -->

<section class="text-center p-8 bg-light min-h-tall-50"> 

  <div> 
    <h1 class="text-4xl mb-4"> love from our clients </h1> 
  {% assign testimonials = site.data.testimonials  | where:'product-type', 'preset'%}
    {% for item in testimonials limit: 1 %}

    <p class="text-center max-w-4xl mx-auto"> {{item.quote}} </p>
    <h3 class="font-extralight"> {{item.name}}</h3> 

    {% endfor %}


  </div> 
</section> 

