---
layout: default 
title: travel guide
preview:
  -  featured_image: assets/images/placeholder.jpg
     title: 10 days of fun in Bali
     description_html: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, provident. Libero, sequi natus nobis quaerat omnis nemo autem veniam unde aspernatur est neque facilis, blanditiis commodi deleniti modi eos dolorem
  -  featured_image: assets/images/placeholder.jpg
     title: 10 days of fun in Bali
     description_html: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, provident. Libero, sequi natus nobis quaerat omnis nemo autem veniam unde aspernatur est neque facilis, blanditiis commodi deleniti modi eos dolorem
---

<!--  this is the travel guide pages  -->

<!--  Intro / sales pitch  -->
  <section class="grid grid-cols-2 p-8">
    <div> 
    <img src='assets/images/placeholder.jpg'> </img> 
    </div> 

    <div class="p-8"> 
      <h1> Intro / sales pitch </h1> 
      <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, provident. Libero, sequi natus nobis quaerat omnis nemo autem veniam unde aspernatur est neque facilis, blanditiis commodi deleniti modi eos dolorem?</p> 
    </div> 
  </section> 

<!-- Most popular ebooks  -->

<section class="grid grid-cols-3 gap-2 row-span-3 p-8"> 


{% for item in site.products_ebook  limit: 9 %}

<!-- <h1> Most popular Travel Guides </h1>  -->

  <div> 
  <img src={{item.featured_image}}> </img> 
  <h3> {{item.title }}</h3> 
  <p> {{item.price}} </p> 
  </div> 

  {% endfor %}

</section> 


<!-- A sneak peek  / slider need to add javascript to this section  -->

<section class="bg-slate-200 pb-3 px-12"> 
<div class="text-center p-8">
  <h1 class="font-bold text-6xl pb-3"> A sneak peek </h1> 
  <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.  </p> 
</div>

<div class="sneak-peak"> 
        {% for slide in page.preview %}
    <div class="slide-item">    
  <div class="grid grid-cols-2">
    <div> 
      <img src='{{slide.featured_image}}' class="p-10"> </img> 
    </div> 

    <div class="p-10 item-center">
      <h2> {{slide.title}} </h2> 
      <p> {{slide.description_html}} </p> 
    </div> 
  </div> 
  </div> 

  {% endfor %}

</div>

</section> 


<!--  testimonials  -->

<section class="text-center p-12"> 

  <h1 class="text-4xl mb-4"> love from our clients </h1> 
  {% assign testimonials = site.data.testimonials  | where:'product-type', 'travel-guides'%}
  <div class="testimonials"> 
    {% for item in testimonials limit: 2 %}

    <div> 
    <p class="text-center max-w-4xl mx-auto"> {{item.quote}} </p>
    <h3 class="font-extralight"> {{item.name}}</h3> 
    </div>

    {% endfor %}

  </div> 
</section> 

<!--  FAQs section  -->

<section class="p-8"> 
  <h1 class="text-center text-4xl"> FAQ's </h1> 
  <div> 
    {% assign faqs = site.data.faqs  | where:'question-type', 'travel-guides'%}
    {% for item in faqs limit: 3 %}

    <p class="text-center max-w-4xl mx-auto expandButton" data-target-button="{{forloop.index}}"> {{item.question}} </p>
    <p class="text-center max-w-4xl mx-auto font-extralight collapsed expandable" data-target-more="{{forloop.index}}"> {{item.answer}} </p>
   

    {% endfor %}

  </div> 
</section> 



<!--  Text section  -->

<section class="bg-light p-5p">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-screen-lg m-auto">
    <div class="col-span-full p-32 text-center">
      <h2 class="text-4xl md:text-5xl"> This is a heading text box </h2> 
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae iure explicabo ea qui at aliquid, eos earum voluptas sed architecto, obcaecati molestias ab neque quo porro doloremque, recusandae accusantium. </p> 
      <hr class="mx-auto border-zinc-700 w-10">
    </div> 

    <div class="col-span-1 p-4 lg:p-8">
      <h3 class="font-bold mb-2"> this is a heading </h3> 
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta asperiores doloribus maxime omnis. Quos voluptatibus vel, labore tenetur mollitia corporis aspernatur quas ab doloribus, quae accusamus? Odio veniam distinctio illo. </p> 
      <p> <a class="subtle-button" href="/" target="_blank"> Check this out > </a> </p> 
    </div> 

    <div class="col-span-1 p-4 lg:p-8">
      <h3 class="font-bold mb-2"> this is a heading </h3> 
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta asperiores doloribus maxime omnis. Quos voluptatibus vel, labore tenetur mollitia corporis aspernatur quas ab doloribus, quae accusamus? Odio veniam distinctio illo. </p> 
      <p> <a class="subtle-button" href="/" target="_blank"> Check this out > </a> </p> 
    </div> 

    <div class="col-span-1 p-4 lg:p-8">
      <h3 class="font-bold mb-2"> this is a heading </h3> 
      <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta asperiores doloribus maxime omnis. Quos voluptatibus vel, labore tenetur mollitia corporis aspernatur quas ab doloribus, quae accusamus? Odio veniam distinctio illo. </p> 
      <p> <a class="subtle-button" href="/" target="_blank"> Check this out > </a> </p> 
    </div> 

  </div> 
</section> 


