<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<header>
  <div>
    <a href="/">
      <h2> LOGO </h2>
    </a>
  </div>
  <nav>
    <a href="#"> Link </a>
    <a href="#"> Link </a>
    <a href="#"> Link </a>
    <a href="#"> Call to Action </a>
  </nav>
</header>

<body>
    {{content}}
</body>

<footer>
  <!-- column -->
  <div>
    <h2> Logo </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="col-1 sm-hidden"> <!-- empty filler --> </div>

  <!-- column -->
  <div>
    <h4> Our Services </h4>
    <nav>
      <a href="#"> Lorem ipsum </a>
      <a href="#"> Dolor sit </a>
      <a href="#"> Consectetur </a>
      <a href="#"> Ut enim ad </a>
    </nav>
  </div>

  <!-- column -->
  <div>
    <h4> Explore </h4>
    <nav>
      <a href="#"> Lorem ipsum </a>
      <a href="#"> Dolor sit </a>
      <a href="#"> Consectetur </a>
      <a href="#"> Ut enim ad </a>
    </nav>
  </div>

  <!-- column -->
  <div>
    <h4> Connect </h4>
    <nav>
      <a href="#"> Facebook </a>
      <a href="#"> Instagram </a>
      <a href="#"> Pinterest </a>
      <a href="#"> Youtube </a>
    </nav>
  </div>
</footer>


</html>