<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">

<!--  google font  -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">


    <title>{{page.title}}</title>
</head>

<header class="text-center">
    <a href="/" class="inline-block logo text-6xl p-8">
      <h2> LOGO </h2>
    </a>
  <nav>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900"> Link </a>

  </nav>
</header>

<body>
    {{content}}


    <!-- membership space  -->
    <script>
      var MemberSpace = window.MemberSpace || {"subdomain":"ecommerce"};
      (function(d){
        var s = d.createElement("script");
        s.src = "https://cdn.memberspace.com/scripts/widgets.js";
        var e = d.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(s,e);
      }(document));
      </script> 

</body>

<footer class="p-10 bg-dark md:grid grid-cols-3 text-white">
  <!-- column -->
  <div class="p-1">
    <h2 class="text-4xl mb-4 block"> Logo </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>


  <!-- column -->
  <div>
    <h4 class="p-1 font-bold tracking-wide"> read more </h4>
    <nav>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Lorem ipsum </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Dolor sit </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Consectetur </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Ut enim ad </a>
    </nav>
  </div>

  <!-- column -->
  <div>
    <h4 class="p-1 block uppercase font-bold text-sm tracking-wide"> connect </h4>
    <nav>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Lorem ipsum </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Dolor sit </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Consectetur </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Ut enim ad </a>
    </nav>
  </div>

</footer>


</html>