<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">

<!--  google font  -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">


    <title>{{page.title}}</title>
</head>

<header class="grid grid-cols-3 text-center bg-light p-8">
  <nav>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900 inline-block"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900 inline-block"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900 inline-block"> Link </a>
  </nav> 

    <div>
      <a href="/">
        <h2 class="logo font-serif text-3xl p-4"> logo  </h2>
      </a>
    </div>
    
    <nav> 
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900 inline-block"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900 inline-block"> Link </a>
    <a href="#" class="p-4 whitespace-nowrap hover:text-green-900 inline-block"> Link </a>
    <!-- <a href="https://ecommerce.memberspace.com/member/plans/8e340e164p" class="p-4 whitespace-nowrap hover:text-green-900"> member </a> -->
    </nav> 
   
</header>



<body>
    {{content}}


    <!-- membership space  -->
    <script>
      var MemberSpace = window.MemberSpace || {"subdomain":"ecommerce"};
      (function(d){
        var s = d.createElement("script");
        s.src = "https://cdn.memberspace.com/scripts/widgets.js";
        var e = d.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(s,e);
      }(document));
      </script> 

</body>

<footer class="p-10 bg-dark md:grid grid-cols-3 text-white">
  <!-- column -->
  <div class="p-1">
    <h2 class="text-4xl mb-4 block"> Logo </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <p> social media links </p>
  </div>





</footer>


</html>